<%= form_with(model: genre) do |form| %>
  <%= render "shared/errors", object: genre %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
