<h1>Sign In</h1>
<p>
  No account yet? <%= link_to "Sign up!", signup_path %>
</p>


<%= form_with(url: session_path, local: true) do |f| %>
  <%= f.label :email_or_username, 'Email or Username' %>
  <%= f.text_field :email_or_username, autofocus: true, required: true %>

  <%= f.label :password %>
  <%= f.password_field :password, required: true %>

  <%= f.submit 'Sign In' %>
<% end %>
